* {
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    /*height: 40vh;*/
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.jumbotron ul {
  padding: 0
}

.jumbotron ul li {
  display: block;
  list-style-type: none;
  padding: 0;
}
