* {
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    height: 30vh;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}